h3 {
    color:chocolate;
}

h1 > a {
    text-decoration: none;
    color:brown;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.center-column-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin-top: 30px;
}

section {
    margin-top: 10px;
}

section::after {
    content: "";
    display: inline-block;
    border-top: 2px solid darkgray;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

#menu-links > a {
    padding: 10px;
    text-decoration: underline;
    color: black;
}